@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "arial-black";
  src: url(../public/fonts/arial-black.ttf);
}

@font-face {
  font-family: "Axiforma";
  src: url(../public/fonts/Axiforma/Axiforma-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "Axiforma";
  src: url(../public/fonts/Axiforma/Axiforma-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Axiforma";
  src: url(../public/fonts/Axiforma/Axiforma-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Axiforma";
  src: url(../public/fonts/Axiforma/Axiforma-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Axiforma";
  src: url(../public/fonts/Axiforma/Axiforma-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Axiforma";
  src: url(../public/fonts/Axiforma/Axiforma-ExtraBold.woff2);
  font-weight: 800;
}
@font-face {
  font-family: "Axiforma";
  src: url(../public/fonts/Axiforma/Axiforma-Black.woff2);
  font-weight: 800;
}

@layer base {
  :root {
    --navbar-height: 105px;
  }

  body {
    @apply overflow-x-hidden;
  }

  html {
    @apply overflow-x-hidden;
  }

  * {
    @apply font-axiforma;
  }
}

@layer components {
  .container {
    @apply max-w-[1440px] mx-auto w-[86%];
  }

  .heading {
    @apply text-xl md:text-2xl xl:text-3xl font-bold;
  }

  .text-gradient {
    background: linear-gradient(270.03deg, #01050d -203.25%, #19357c 106.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .button {
    @apply bg-purple-gradient rounded-md shadow-effect-1;
  }
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}
.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}

@media (min-width: 200px) {
  :root {
    --navbar-height: 54px;
  }
}

@media (min-width: 640px) {
  :root {
    --navbar-height: 64px;
  }
}

@media (min-width: 1280px) {
  :root {
    --navbar-height: 105px;
  }
}
